extends layout.pug

block content
    form(action="/user/editUsername", method="Post", class="editForm")
            div
                label="Username: "
                input(type="text", name="username", value=username)
            input(type="submit", value="Submit")