extends layout.pug

block content
    form(action="/user/editPassword", method="Post", class="editForm")
            div
                label="Password :"
                input(type="password", name="password")
            input(type="submit", value="Submit")