extends layout.pug

block content
    form(action="/user/editEmail", method="Post", class="editForm")
            div
                label="Email: "
                input(type="text", name="email", value=email)
            input(type="submit", value="Submit")